<section class="about section" id="about">
  <h2 data-heading="" class="section-title">Sobre Mim</h2>
  <div class="about-container container grid">
    <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" alt="" class="about-img">

    <div class="about-data">
      <h3 class="about-heading">Meu nome é Erick Valente</h3>
      <p class="about-description">
      Sou carioca, tenho 34 anos e moro em São Paulo - SP. <br><br>
      Fiz uma transição de carreira da área de Marketing Digital, e tenho mais de 10 anos de experiência de mercado, onde desenvolvi soft skills como liderança, olhar analítico, autogestão, comunicação eficiente e, principalmente, resolução de problemas.<br><br>
      Meu objetivo é participar de projetos onde eu possa empregar as habilidades que já possuo e aprender mais, com foco em me tornar um desenvolvedor excelente.
      Orgulhosamente formado pelo melhor bootcamp de programação do mundo, a <a target="_blank" href="https://www.lewagon.com/">LeWagon</a>, como Fullstack Web Developer (Ruby on Rails).<br><br>
      Estou pronto pra um grande desafio, e pode ser no seu projeto! Vamos conversar?
      </p>
      <div class="about-info grid">

        <div class="about-box">
          <i class="fa-solid fa-suitcase about-icon"></i>
          <h3 class="about-title">Experiência</h3>
          <span class="about-subtitle">4+ anos</span>
        </div>

        <div class="about-box">
          <i class="fa-regular fa-folder-open about-icon  "></i>
          <h3 class="about-title">Projetos</h3>
          <span class="about-subtitle">10+ completos</span>
        </div>

        <div class="about-box">
          <i class="fa-solid fa-calendar-check about-icon"></i>
          <h3 class="about-title">Disponibilidade</h3>
          <span class="about-subtitle">Imediata</span>
        </div>

      </div>

      <a href="#contact" class="button"><i class="fa-solid fa-paper-plane button-icon"></i> Entre em Contato</a>
    </div>
  </div>

</section>
