<section class="contact section" id="contact">
  <h2 data-heading="Vamos Conversar?" class="section-title">Entre em Contato</h2>

  <div class="contact-container container grid">
    <div class="contact-content">
      <div class="contact-info">
        <div class="contact-card">
          <i class="fa-solid fa-envelope contact-card-icon"></i>
            <div>
              <h3 class="contact-title">Email</h3>
              <span class="contact-card-data">erickhwk@gmail.com</span>
              <span class="contact-button">
                Enviar Email<i class="fa-solid fa-arrow-right contact-button-icon"></i>
              </span>
            </div>
        </div>


        <div class="contact-card">
          <i class="fa-brands fa-whatsapp contact-card-icon"></i>
            <div>
              <h3 class="contact-title">Whatsapp</h3>
              <span class="contact-card-data">+55 21 96703 1273</span>
              <span class="contact-button">
                Enviar Mensagem<i class="fa-solid fa-arrow-right contact-button-icon"></i>
              </span>
            </div>
        </div>

      </div>
    </div>
    <div class="contact-content">
      <form action="/" class="contact-form">
        <div class="input-container">
          <input type="text" class="input" placeholder="nome">
          <%# <label for="">Nome</label> %>
        </div>

        <div class="input-container">
          <input type="text" class="input" placeholder="e-mail">
          <%# <label for="">Email</label> %>
        </div>

        <div class="input-container textarea">
          <textarea name="" id="" cols="30" class="input" rows="10" placeholder="mensagem"></textarea>
          <%# <label for="">Mensagem</label> %>
        </div>

        <button type="submit" class="button"><i class="fa-solid fa-paper-plane button-icon"></i>
        Enviar Mensagem
        </button>

      </form>
    </div>

  </div>

</section>
