<footer class="footer">
  <div class="footer-bg">
    <div class="footer-container container grid">
      <div>
        <h1 class="footer-title">Erick Valente</h1>
        <span class="footer-subtitle">Fullstack Developer</span>
      </div>

      <ul class="footer-links">
        <li>
          <a href="#work">Projetos</a>
        </li>
        <li>
          <a href="#skills">Skills</a>
        </li>
        <li>
          <a href="#about">Sobre mim</a>
        </li>
      </ul>

      <div class="footer-socials">
        <a href="https://www.linkedin.com/in/erickvalente" target="_blank" class="footer-social"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://www.github.com/erickhwk" target="_blank" class="footer-social"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>

        <p class="footer-copy">&#169; Erick Valente. Todos os direitos reservados.</p>
  </div>
</footer>
