<section class="home" id="home">
  <div class="home-container container grid">
    <div class="home-social">
      <span class="home-social-follow">
        Siga-me
      </span>
      <div class="home-social-links">
        <a href="https://www.linkedin.com/in/erickvalente" target="_blank" class="home-social-link"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.github.com/erickhwk" target="_blank" class="home-social-link"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
    
    <div class="home-data">
      <h1 class="home-title">Olá! Eu sou o <span class="home-title-featured">Erick</span>.</h1>
      <h3 class="home-subtitle">Fullstack Web Developer</h3>
      <p class="home-description">Pronto pra desenvolver projetos espetaculares na sua equipe.</p>
      <a target="_blank" href="https://drive.google.com/drive/folders/1cPEIm1KTodjU_WYMaaskBprUt-nk2S4_?usp=sharing" class="button">
        <i class="fa-solid fa-file-arrow-down button-icon"></i>
        Baixar CV
      </a>
    </div>

    <div class="my-info">
      <div class="info-item">
        <i class="fa-regular fa-envelope info-icon"></i>
          <div>
            <h3 class="info-title">Email</h3>
            <span class="info-subtitle">erickhwk@gmail.com</span>
          </div>
      </div>

      <div class="info-item">
        <i class="fa-brands fa-whatsapp info-icon"></i>
          <div>
            <h3 class="info-title">Whatsapp</h3>
            <span class="info-subtitle">+55 21 96703 1273</span>
          </div>
      </div>
    </div>
  </div>
</section>
