<div class="nav-toggle" id="nav-toggle">
  <i class="fa-solid fa-bars"></i>
</div>
<aside class="sidebar">
  <nav class="nav">
    <div class="nav-logo">
      <a href="#home">
        <img src="https://i.imgur.com/k3DAA4O.png" alt="" class="nav-logo">
      </a>
    </div>

    <div class="nav-menu">
      <div class="menu">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#home" class="nav-link active-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Sobre Mim</a>
          </li>
          <li class="nav-item">
            <a href="#qualification" class="nav-link">Qualificação</a>
          </li>
          <li class="nav-item">
            <a href="#skills" class="nav-link">Skills</a>
          </li>
          <li class="nav-item">
            <a href="#work" class="nav-link">Projetos</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contato</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="btn-share">
      <i class="fa-solid fa-share-nodes"></i>
    </div>

    <div class="nav-close" id="nav-close">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </nav>
</aside>
