<section class="skills section" id="skills">
  <h2 data-heading="Ferramentas" class="section-title">Minhas Skills</h2>

  <div class="skills-container container grid">
    <div class="skills-tabs">

      <div class="skills-header skills-active" data-target="#frontend">
        <i class="fa-solid fa-code skills-icon"></i>

        <div>
          <h1 class="skills-title">Front-end</h1>
          <span class="skills-subtitle">4+ anos de experiência</span>

        </div>

          <i class="fa-solid fa-angle-down skills-arrow"></i>

      </div>

      <div class="skills-header" data-target="#design">
        <i class="fa-solid fa-palette skills-icon"></i>

        <div>
          <h1 class="skills-title">Design</h1>
          <span class="skills-subtitle">6+ anos de experiência</span>

        </div>

          <i class="fa-solid fa-angle-down skills-arrow"></i>

      </div>

      <div class="skills-header" data-target="#backend">
        <i class="fa-solid fa-server skills-icon"></i>

        <div>
          <h1 class="skills-title">Back-end</h1>
          <span class="skills-subtitle">Menos de 1 ano de experiência</span>

        </div>

          <i class="fa-solid fa-angle-down skills-arrow"></i>

      </div>

      <div class="skills-header" data-target="#others">
        <i class="fa-solid fa-upload skills-icon"></i>

        <div>
          <h1 class="skills-title"> Outros</h1>
          <span class="skills-subtitle">Cerca de 1 ano de experiência</span>

        </div>
          <i class="fa-solid fa-angle-down skills-arrow"></i>
      </div>

    </div>

    <div class="skills-content">
      <div class="skills-group skills-active" data-content id="frontend">
        <div class="skills-list grid">

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">HTML5</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage" style="width: 90%;"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">CSS3</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage" style="width: 90%;"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Javascript</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage" style="width: 90%;"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Sass/Bootstrap</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage" style="width: 90%;"></span>
            </div>
          </div>

        </div>
      </div>

      <div class="skills-group" data-content id="design">
        <div class="skills-list grid">

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Figma</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage" style="width: 90%;"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Adobe Photoshop</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage" style="width: 90%;"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Adobe Illustrator</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage" style="width: 90%;"></span>
            </div>
          </div>

        </div>
      </div>

      <div class="skills-group" data-content id="backend">
        <div class="skills-list grid">

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Ruby</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage" style="width: 90%;"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Ruby on Rails</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage" style="width: 90%;"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">PostgreSQL</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage" style="width: 90%;"></span>
            </div>
          </div>

        </div>
      </div>

      <div class="skills-group" data-content id="others">
        <div class="skills-list grid">

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Git/Github</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage" style="width: 90%;"></span>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-titles">
              <h3 class="skills-name">Heroku</h3>
              <span class="skills-number">90%</span>
            </div>
            <div class="skills-bar">
              <span class="skills-percentage" style="width: 90%;"></span>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>
