<section class="work section" id="work">
    <h2 data-heading="Portfolio" class="section-title">Projetos Recentes</h2>

    <div class="work-filters">
      <span class="work-item active-work">All</span>
      <span class="work-item">Front-end</span>
      <span class="work-item">Design</span>
      <span class="work-item">Back-end</span>
    </div>


    <div class="work-container container grid">

      <div class="work-card">
        <img src="https://images.unsplash.com/photo-1633793675529-58eecb6ea16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" alt="" class="work-img">
        <h3 class="work-title">Watchlist CRUD</h3>
        <span class="work-button">
        Demo
        <i class="fa-solid fa-arrow-right work-button-icon"></i>
        </span>
        <div class="portfolio-item-details">
          <h3 class="details-title">Uma lista de recomendação para Netflix</h3>
          <p class="details-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt odit, voluptatem et atque quas eveniet laborum ipsa dicta.</p>
          <ul class="details-info">
            <li>Criação - <span>21 jul 2022</span></li>
            <li>Tecnologias - <span>html css</span></li>
            <%# <li>Função - <span>frontend</span></li> %>
            <li>Demo - <span><a href="#">www.dominio.com.br</a></span></li>
          </ul>
        </div>
      </div>

      <div class="work-card">
        <img src="https://images.unsplash.com/photo-1647892591690-25cf830cda51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" alt="" class="work-img">
        <h3 class="work-title">Marketplace</h3>
        <span class="work-button">
        Demo
        <i class="fa-solid fa-arrow-right work-button-icon"></i>
        </span>
        <div class="portfolio-item-details">
          <h3 class="details-title">Uma loja online de Pokémon</h3>
          <p class="details-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt odit, voluptatem et atque quas eveniet laborum ipsa dicta saepe a veritatis corrupti dignissimos, tenetur ea delectus reprehenderit qui. Corrupti, explicabo!</p>
          <ul class="details-info">
            <li>Criado em - <span>21 de julho de 2022</span></li>
            <li>Tecnologias - <span>html css javascript</span></li>
            <li>Função - <span>backend</span></li>
            <li>Ver - <span><a href="#">www.dominio.com.br</a></span></li>
          </ul>
        </div>
      </div>

      <div class="work-card">
        <img src="https://images.unsplash.com/photo-1634942537021-74a0eaa7419a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" alt="" class="work-img">
        <h3 class="work-title">Reddit Clone</h3>
        <span class="work-button">
        Demo
        <i class="fa-solid fa-arrow-right work-button-icon"></i>
        </span>
        <div class="portfolio-item-details">
          <h3 class="details-title">Um clone do site Reddit</h3>
          <p class="details-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt odit, voluptatem et atque quas eveniet laborum ipsa dicta saepe a veritatis corrupti dignissimos, tenetur ea delectus reprehenderit qui. Corrupti, explicabo!</p>
          <ul class="details-info">
            <li>Criado em - <span>21 de julho de 2022</span></li>
            <li>Tecnologias - <span>html css</span></li>
            <li>Função - <span>frontend</span></li>
            <li>Ver - <span><a href="#">www.dominio.com.br</a></span></li>
          </ul>
        </div>
      </div>

    </div>
</section>

<%# Portfolio Pop-up %>

<div class="portfolio-popup">
  <div class="portfolio-popup-inner">
    <div class="portfolio-popup-content">
      <span class="portfolio-popup-close"><i class="fa-solid fa-xmark"></i></span>
      <div class="pp-thumbnail">
        <img src="https://i.picsum.photos/id/625/500/500.jpg?hmac=H2HPXZBmIAri0Yql1hn799m9P1mpPGDS8zzRQZH4vF8" alt="" class="portfolio-popup-image">
      </div>
      <div class="portfolio-popup-info">
        <div class="portfolio-popup-subtitle"><span>Front-End</span></div>
        <div class="portfolio-popup-body">
          <h3 class="details-title">App de Sei Lá o Que</h3>
          <p class="details-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt odit, voluptatem et atque quas eveniet laborum ipsa dicta.</p>
          <ul class="details-info">
            <li>Criado em <span>21 de julho de 2022</span></li>
            <li>Tecnologias - <span>html css</span></li>
            <li>Função - <span>frontend</span></li>
            <li>Ver - <span><a href="#">www.dominio.com.br</a></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
