/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

// Components
@import "./components/about.scss";
@import "./components/contact.scss";
@import "./components/footer.scss";
@import "./components/main.scss";
@import "./components/qualification.scss";
@import "./components/sidebar.scss";
@import "./components/skills.scss";
@import "./components/work.scss";


:root {

  // Colors
  --body-color: #0d051d;
  --sidebar-color: #170035;

  --title-color: #FB208F;
  --text-color: #fff;

  --detail-color: #FB208F;
  --line-color: #170035;

  // Typography
  --default-font: "Ubuntu", sans-serif;

  // Font Size
  --biggest-size: 3rem;
  --h1-size: 2.25rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;
  --text-size: 1rem;
  --small-size: .875rem;
  --smallest-size: .813rem;

  // Font Weight
  --font-light: 300;
  --font-medium: 400;
  --font-bold: 700;
}


//  BASE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-size: var(--text-size);
  font-family: var(--default-font);
  color: var(--text-color);
}

body {
  background: var(--body-color);
  font-size: var(--text-size);
}

h1,
h2,
h3 {
  font-weight: var(--font-bold);
  color: var(--title-color);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.section {
  padding: 6.5rem 0 2rem;
}

.section-title {
  text-align: center;
  font-size: var(--h1-size);
  margin-bottom: 3rem;
  color: var(--text-color);

  &::before {
    content: attr(data-heading);
    display: block;
    font-size: var(--text-size);
    font-weight: var(--font-medium);
    color: var(--detail-color);
  }
}

::-webkit-scrollbar {
  width: .6rem;
  background-color: var(--sidebar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--detail-color);
  border-radius: .5rem;
}

@media screen and (max-width: 1408px) {
  .container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

@media screen and (max-width: 1216px) {
  .about-container {
    gap: 2.5rem;
  }

  .about-description {
    padding: 0;
  }

  .work-container {
    grid-template-columns: repeat(2, 330px);
    gap: 2.5rem
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .sidebar {
    width: 100%;
    z-index: 999;
    transform: translateX(-100%);
  }

  .show-sidebar {
    transform: translateX(0);
  }

  .nav-logo,
  .btn-share {
    display: none;
  }

  .nav-menu {
    height: 100%;
    width: 100%;
    transform: rotate(0deg) translateX(0);
    display: flex;
    justify-content: center;
  }

  .nav-list {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    padding: 1rem 0;
    line-height: 1.6;
  }

  .nav-close {
    display: block;
  }

  .nav-toggle {
    display: flex;
  }

  .main {
    margin-left: 0;
  }

  .about-img {
    width: 350px;
  }

  .about-container {
    grid-template-columns: 1fr;
    gap: 2.5rem
  }

  .about-data {
    text-align: center;
  }

  .about-info {
    justify-content: center;
  }

  .about-box {
    padding: .75rem .5rem;
  }

  .about-description {
    padding: 0 4rem;
    text-align: center;
  }

  .qualification-container {
    grid-template-columns: repeat(2, 290px);
  }

  .skills-container {
    grid-template-columns: 340px 300px;
  }

  .skills-list {
    row-gap: 1.7rem;
  }

  .work-card {
    padding: 1rem;
  }

  .work-img,
  .work-title {
    margin-bottom: .75rem;
  }

  .portfolio-item-details {
    margin-bottom: 1.5rem;
  }

  .details-info li {
    margin-bottom: .5rem;
  }

  .details-title {
    margin-bottom: .75rem;
  }
}

@media screen and (max-width: 738px) {
  .about-img {
    width: 250px;
  }

  .qualification-container {
    grid-template-columns: 290px;
  }

  .skills-container {
    grid-template-columns: 390px;
  }

  .work-container {
    grid-template-columns: 330px;
  }

  .contact-container {
    grid-template-columns: 360px;
    row-gap: 3rem;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    // row-gap: 3rem;
    justify-content: center;
  }

  .footer-socials {
    justify-self: start;
    margin-top: -80px;
  }

  .footer-links {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .portfolio-popup-inner {
    width: 420px;
    padding: 2.8rem 1.5rem 2.5rem;
  }

  .portfolio-popup-content {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
  }
}

@media screen and (max-width: 576px) {
  .nav-toggle {
    right: initial;
    left: 1.5rem;
  }

  .home {
    background-image: none;
    height: 100vh;
    align-items: initial;
  }

  .home-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-social {
    left: initial;
    right: -1rem;
    flex-direction: column;
  }

  .home-social-follow {
    transform: rotate(90deg);
    margin-top: 100px;
    font-size: 1rem;
  }

  .home-social-links {
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 40px;
  }
  .home-social-link {
    font-size: 1rem;
  }

  .my-info {
    display: none;
  }

  .about-info {
    grid-template-columns: repeat(3, 1fr);
  }

  .qualification-container {
    grid-template-columns: 1fr;
  }

  .skills-container {
    grid-template-columns: 1fr;
  }

  .work-container {
    grid-template-columns: 1fr;
  }

  .contact-container {
    grid-template-columns: 1fr;
  }

  .nav-toggle {
    z-index: 999;
  }

}

@media screen and (max-width: 350px) {

  html {
    font-size: 70%;
  }

  .about-description {
    padding: 2rem 1rem;
  }

  .footer-socials {
    justify-self: start;
    margin-top: -20px;
  }

}
